@mixin theme($theme: $green) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: $bgWhite;
}
@mixin app {
  height: 200vh;
}

@mixin list {
  flex-flow:column;
  margin: auto;
  width: 100%;
  max-width: 600px;
}

@mixin Box($color) {
  margin: 10px;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid $color;
  &:hover {
    background-color: blue;
  }
}

@mixin lists {
  display: flex;
  flex-flow: column;
  max-width: 600px;
  width: 100%;
  height: 300px;
  text-align: center;
  margin: auto;
}

@mixin listPage {
  max-width: 350px;
  width: 100%;
  margin: auto;
}

@mixin boxList{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  margin: auto;
}

